# Ignore everything in this directory
*
.htaccess
# But don't ignore the top-up-agent plugin directory
!wp-content/
!wp-content/plugins/
!wp-content/plugins/top-up-agent/
!wp-content/plugins/top-up-agent/**